/* <!-- root: {
    --white: #FFFFFF;
      --black: #000000;
      --very-light-pink: #C7C7C7;
      --text-input-field: #F7F7F7;
      --hospital-green: #ACD9B2;
      --sm: 14px;
      --md: 16px;
      --lg: 18px;
  } --> */


.desktop-menu {
    width: 100px;
    height: auto;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    padding: 20px 20px 0 20px;  
    font-family: 'Quicksand', sans-serif;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1) {
    font-weight: bold;
}


.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid #c7c7c7;
}

.desktop-menu ul li:last-child a{
   color: #ACD9B2;
   font-size: 14px;
}

.desktop-menu ul li a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;   
}
